  /* sticky footer styles */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 10 auto;
}

/* END sticky footer styles */

body {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

li > span {
  color: black !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important;
}

.modal { 
  width: 25% !important;  
} 

nav .brand-logo {
  display: table;
}

#weather-results {
  display: none;
}

@media screen and (max-width: 980px) {
  
  .modal { 
    width: 55% !important;  
  }

}